@model IEnumerable<MovieTheater.Models.Movie>

<div class="fliter">
        <div class="f1">
            <span>类型:</span>
            <ul>
                <li><a asp-action="Index" asp-route-searchCountryString="@ViewData["CurrentCountryFilter"]">全部</a></li>
                @foreach (var elem in ViewBag.movieCategory)
                {
                    <li>
                        <a asp-action="Index"
                           asp-route-searchCategoryString="@elem.CategoryName"
                           asp-route-searchCountryString="@ViewData["CurrentCountryFilter"]">@elem.CategoryName</a></li>
                }
            </ul>
        </div>
        <div class="f1">
            <div>
                <span>国家:</span>
                <ul>
                    <li><a asp-action="Index" asp-route-searchCategoryString="@ViewData["CurrentCategoryFilter"]">全部</a></li>
                    @foreach (var elem in ViewBag.movieCountry)
                    {
                        <li>
                            <a asp-action="Index"
                               asp-route-searchCountryString="@elem.CountryName"
                               asp-route-searchCategoryString="@ViewData["CurrentCategoryFilter"]">@elem.CountryName</a></li>
                    }
                </ul>
            </div>
        </div>
</div>

<div class="movies">
    <dl class="movies-list">
        @foreach (var item in Model)
        {
            <dd>
                <div class="movies-poster">
                    <a asp-action="Details" asp-route-id="@item.MovieId"><img src="/images/@item.MovieImg"></a>
                </div>
                <div class="movies-name"><a asp-action="Details" asp-route-id="@item.MovieId">@item.MovieName</a></div>
                <div class="movies-rate">@item.MovieGrade</div>
            </dd>
        }
    </dl>
</div>