@model IEnumerable<MovieTheater.Models.Movie>

@{
    ViewBag.Title = "电影信息管理首页";
}

<h2>电影信息管理首页</h2>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.MovieName)</th>
        <th>@Html.DisplayNameFor(model => model.movie_category.CategoryName)</th>
        <th>@Html.DisplayNameFor(model => model.movie_country.CountryName)</th>
        <th>@Html.DisplayNameFor(model => model.MovieGrade)</th>
        <th>@Html.DisplayNameFor(model => model.MoviePrice)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MovieName)</td>
                <td>@Html.DisplayFor(modelItem => item.movie_category.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.movie_country.CountryName)</td>
                <td>@Html.DisplayFor(modelItem => item.MovieGrade)</td>
                <td>@Html.DisplayFor(modelItem => item.MoviePrice)</td>
                <td>
                    <a asp-action="MovieEdit" asp-route-id="@item.MovieId">编辑</a> |
                    <a asp-action="MovieDetails" asp-route-id="@item.MovieId">详细信息</a> |
                    <a asp-action="MovieDelete" asp-route-id="@item.MovieId">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>